.about-main-section {
  padding-top: rem(180);
  padding-bottom: rem(100);

  @include is-mobile {
    padding-top: rem(120);
    padding-bottom: rem(50);
    min-height: 0;
    margin-bottom: 0;
  }

  &__font {
    &--title {
      font-size: rem(55);
      font-weight: 600;
      line-height: 90%;
      letter-spacing: rem(-7, 80);

      @include is-mobile {
        font-size: rem(26);
        font-weight: 500;
        letter-spacing: 0;
      }
    }
  }

  &__title {
    .char {
      cursor: default;
      transition: color 3s 1s, text-shadow 3s 1s;
      &:hover{
        transition: color 0s, text-shadow 0s;
        color: $color-primary-900;
        text-shadow: -1px 0 $color-primary-100, 0 1px $color-primary-100, 1px 0 $color-primary-100, 0 -1px $color-primary-100;
      }
    }
  }
}