.goals-section {

  position: relative;

  &__font {
    &--title {
      font-size: rem(48);
      font-weight: 600;
      line-height: 120%;
      letter-spacing: -0.48px;
      margin-bottom: rem(10);

      @include is-mobile {
        font-size: rem(24);
      }
    }

    &--subtitle {
      font-size: rem(32);
      font-weight: 600;
      line-height: 130%; /* 41.6px */
      letter-spacing: -0.32px;

      @include is-mobile {
        font-size: rem(20);
      }
    }

    &--text {
      font-size: rem(20);
      font-weight: 500;
      line-height: 140%; /* 28px */
      letter-spacing: -0.2px;

      @include is-mobile {
        font-size: rem(14);
      }
    }
  }

  &__bg {
    background: $color-primary-100;
    width: rem(4);
    height: rem(4);
    border-radius: 50%;
    position: absolute;
    top: rem(19);
    left: rem(-8);

    @include is-mobile {
      top: rem(11);
      left: 0;
    }
  }

  &__title {
    margin-bottom: rem(45);

    @include is-mobile {
      margin-bottom: rem(14);
    }
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: rem(84);

    @include is-mobile {
      gap: rem(32);
    }
  }
}