.main-section {
  position: relative;

  &__font {
    &--title {
      font-size: rem(197);
      font-weight: 800;
      line-height: 90%;
      letter-spacing: rem(-10);

      @include is-mobile {
        font-size: rem(48);
        letter-spacing: rem(-2);
      }
    }

    &--subtitle {
      font-size: rem(24);
      margin-bottom: rem(5);
      font-style: normal;
      font-weight: 600;
      line-height: 130%;

      @include is-mobile {
        font-size: rem(20);
      }
    }

    &--text {
      font-size: rem(20);
      font-weight: 500;
      line-height: 140%;
      letter-spacing: -0.2px;
      text-decoration: none;

      @include is-mobile {
        font-size: rem(14);
      }
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    margin-top: rem(56);

    @include is-mobile {
      flex-direction: column-reverse;
      margin: 0;
    }
  }

  &__text {
    max-width: rem(461);

    @include is-mobile {
      margin-bottom: rem(10);
    }
  }

  &__button {
    position: absolute;
    bottom: rem(170);
    right: rem(120);

    @include is-mobile {
      position: static;
      margin-left: auto;
      margin-top: rem(16);
      margin-bottom: rem(20);
    }
  }

  //@include run-splitting-on-ready;
}