.testimonials-section {
  overflow: hidden;

  &__font {
    &--title {
      font-size: rem(64);
      font-weight: 600;
      line-height: 110%;
      letter-spacing: -0.64px;

      @include is-mobile {
        font-size: rem(24);
      }
    }

    &--subtitle {
      font-size: rem(20);
      font-weight: 600;
      line-height: 140%;
      letter-spacing: -0.2px;

      @include is-mobile {
        font-size: rem(14);
      }
    }

    &--main {
      font-size: rem(48);
      font-weight: 500;
      line-height: 105%;
      letter-spacing: -0.78px;

      @include is-mobile {
        font-size: rem(14);
      }
    }

    &--who {
      font-size: rem(20);
      font-weight: 500;
      line-height: 140%;
      letter-spacing: -0.2px;

      @include is-mobile {
        font-size: rem(14);
      }
    }
  }

  &__title {
    margin-bottom: rem(40);
  }

  &__slide {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: rem(50);

    @include is-mobile {
      flex-direction: column;
      gap: rem(13);
    }
  }

  &__slide-main {
    max-width: rem(954);
  }
}