.testimonials-section {
  overflow: hidden;

  &__font {
    &--title {
      font-size: rem(64);
      font-weight: 600;
      line-height: 110%;
      letter-spacing: -0.64px;
    }

    &--subtitle {
      font-size: rem(20);
      font-weight: 600;
      line-height: 140%;
      letter-spacing: -0.2px;
    }

    &--main {
      font-size: rem(48);
      font-weight: 500;
      line-height: 105%;
      letter-spacing: -0.78px;
    }

    &--who {
      font-size: rem(20);
      font-weight: 500;
      line-height: 140%;
      letter-spacing: -0.2px;
    }
  }

  &__title {
    margin-bottom: rem(40);
  }

  &__slide {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: rem(50);
  }

  &__slide-main {
    max-width: rem(954);
  }
}