.home-page {

  &__main {
    margin-bottom: rem(140);

    @include is-mobile {
      margin-bottom: rem(55);
    }
  }

  &__projects {
    margin-top: rem(144);
    margin-bottom: rem(144);

    @include is-mobile {
      margin-top: rem(55);
      margin-bottom: rem(55);
    }
  }

  &__goals {
    margin-top: rem(144);
    margin-bottom: rem(75);

    @include is-mobile {
      margin-top: rem(61);
      margin-bottom: rem(48);
    }
  }

  &__testimonials {
    margin-top: rem(144);

    @include is-mobile {
      margin-top: rem(32);
    }
  }

  &__contact {
    margin-top: rem(130);

    @include is-mobile {
      margin-top: rem(35);
    }
  }
}