.home-page {

  &__projects {
    margin-top: rem(144);
  }

  &__goals {
    margin-top: rem(144);
    margin-bottom: rem(75);
  }

  &__testimonials {
    margin-top: rem(80);
  }

  &__contact {
    margin-top: rem(130);
  }
}