.default-layout {
  overflow-x: hidden;
  position: relative;

  &__wrapper {
    position: relative;
    z-index: 2;
    min-width: 100vw;
  }

  &__slasher {
    min-width: 200vw;
    width: 200vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 100vw;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100vw;
      backdrop-filter: invert(100%);
    }

  }

  &__loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9993;
    //background: #fff;

    -webkit-mask-image: url('../../../../../public/static/images/cow1.svg');
    mask-image: url('../../../../../public/static/images/cow1.svg');
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-repeat: repeat;
    mask-repeat: repeat;
    -webkit-mask-position: center;
    mask-position: center;

    backdrop-filter: invert(100%);
    pointer-events: none;
  }

  &__scene {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
  }
}