.footer {
  padding-top: rem(150);
  padding-bottom: rem(48);
  position: relative;
  z-index: 10;

  @include is-mobile {
    padding-top: rem(70);
    padding-bottom: rem(28);
  }

  &__font {
    &--text {
      font-size: rem(14);
      font-style: normal;
      font-weight: 400;
      letter-spacing: -0.14px;
      text-decoration: none;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include is-mobile {
     flex-direction: column;
      gap: rem(24);
    }
  }

  &__links {
    display: flex;
    gap: rem(40);
  }
}