.footer {
  padding-top: rem(150);
  padding-bottom: rem(48);

  &__font {
    &--text {
      font-size: rem(14);
      font-style: normal;
      font-weight: 400;
      letter-spacing: -0.14px;
      color: $color-primary-900;
      text-decoration: none;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__links {
    display: flex;
    gap: rem(40);
  }
}