.header {
  padding-top: rem(32);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  @include is-mobile {
    padding-top: rem(12);
  }

  &__font {
    &--link {
      pointer-events: none;
      font-size: rem(20);
      line-height: 100%;

      @include is-mobile {
        font-size: rem(14);
      }
    }
  }

  &__row {
    display: flex;
    justify-content: center;
    position: relative;
  }

  &__nav {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background: $color-primary-100;
    gap: rem(15);
    border-radius: rem(80);
    padding: rem(2);
    overflow: hidden;
    position: relative;

    @include is-mobile {
      gap: rem(5);
      padding: rem(3);
    }
  }

  &__nav-link {
    display: block;
    text-decoration: none;
    padding: rem(9) rem(16);
    border-radius: rem(48);
    color: $color-primary-900;
    transition: color .3s ease, background .3s ease;

    @include is-mobile {
      padding: rem(7) rem(10);
    }

    &.active {
      //background: $color-primary-900;
      //color: $color-primary-100;
    }
  }

  &__highlighter {
    position: absolute;
    left: 0;
    top: rem(2);
    bottom: rem(2);
    background: transparent;
    border-radius: rem(50);
    z-index: 2;
    transition: width .5s linear, left .4s ease;
    backdrop-filter: invert(100%);
    pointer-events: none;
  }

  &__logo {
    display: inline-block;
    font-size: rem(40);
    font-weight: 600;
    text-decoration: none;
    margin: 0 auto rem(30);

    @include is-mobile {
      margin: 0 auto rem(10);
      font-size: rem(20);
    }
  }
}