.achieve {
  position: relative;
  margin-bottom: -1px;
  width: 100%;

  //@include clip-path-initial;

  $parent: &;

  //&.is-inview {
  //  &:after,  &:before{
  //    width: 100%;
  //  }
  //
  //  @include is-mobile {
  //    #{$parent}__img {
  //      opacity: 1;
  //      scale: 1;
  //    }
  //  }
  //}

  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    transition: width .7s ease .2s;
    border-top: 1px solid $color-primary-100;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    transition: width .7s ease .3s;
    border-top: 1px solid $color-primary-100;
  }


  &:hover {
    #{$parent} {
      &__img {
        opacity: 1;
        scale: 1;
      }

      &__bg {
        opacity: 1;
      }
    }
  }

  &__font {
    &--title {
      font-size: rem(65);
      font-weight: 800;
      line-height: 115%;
      letter-spacing: rem(-0.7);

      @include is-mobile {
        font-size: rem(44);
        letter-spacing: rem(-2);
      }
    }
  }

  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include is-mobile {
      z-index: 3;
    }
  }

  &__img {
    width: rem(100);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: rem(200);
    transform-origin: center center;
    //opacity: 0;
    //scale: 0.8;
    transition: opacity .3s ease, scale .3s ease;
    z-index: 4;
    pointer-events: none;

    @include is-mobile {
      opacity: 0;
      scale: 0;
      width: rem(100);
      right: rem(10);
      z-index: 2;
      transition-delay: .4s;
    }
  }
}