.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  color: $color-primary-900;
  background: $color-primary-100;
  padding: rem(48) 0;

  @include is-mobile {
    padding: rem(21) 0;
  }

  &__font {
    &--text {
      font-size: rem(140);
      font-weight: 800;
      line-height: 110%;
      letter-spacing: -2.8px;

      @include is-mobile {
        font-size: rem(48);
      }
    }
  }

  &__text {
    display: inline-block;
    animation: marquee 15s linear infinite;
    padding: 0 rem(40);

    @include is-mobile {
      padding: 0 rem(10);
    }
  }
}

@keyframes marquee {
  0% { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
}