.text-goal {
  width: rem(442);
  position: relative;

  @include clip-path-initial;

  $parent: &;

  &:hover {
    #{$parent} {
      &__bg {
        left: 0;
        top: 0;
        width: rem(100);
        height: rem(100);

        @include is-tablet {
          width: rem(8);
          height: rem(8);
          top: rem(10);
          left: rem(-5);
        }
      }
    }
  }

  &__font {

    &--title {
      font-size: rem(32);
      font-weight: 600;
      line-height: 130%;
      letter-spacing: -0.32px;
      //text-shadow: -2px 0 $color-primary-900, 0 1px $color-primary-900, 1px 0 $color-primary-900, 0 -1px $color-primary-900;

      @include is-mobile {
        font-size: rem(20);
      }
    }

    &--text {
      font-size: rem(20);
      font-weight: 500;
      line-height: 140%;
      letter-spacing: -0.2px;

      @include is-mobile {
        font-size: rem(14);
      }
    }
  }

  &__bg {
    width: rem(8);
    height: rem(8);
    //background: transparent;
    z-index: 2;
    border-radius: 50%;
    position: absolute;
    transition: width .3s ease, height .3s ease, transform .1s ease, scale .1s ease .3s;
    left: rem(-17);
    top: rem(18);
    backdrop-filter: invert(100%);
    pointer-events: none;
    //scale: 0;

    @include is-mobile {
      top: rem(10);
      left: rem(-5);
    }
  }

  &__title {
    margin-bottom: rem(24);

    @include is-mobile {
      margin-bottom: rem(16);
      //padding-left: rem(8);
    }
  }
}